#stage
{
  position:relative;
  width:832px;
  height:704px;
  background-image: url("../img/Games-Artwork/background.jpg");
  margin: auto;
  margin-top: 20px;
}


.cell
{
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
}

/*h1
{
  text-align: center;
  font-family: Arial;
  font-size: 50px;
  background-color: #f27e05;
}*/

p
{
  font-family: Arial;
  font-size: 30px;
  width: 828px;
  height:100px;
  padding: 10px;
  background-color: #f27e05;
  margin:auto;
  margin-top: 10px;
}

body {
    background-color: #a7c299;
}
